{% extends 'base.html' %}
{% block mystyle %}
<style>
        .logo{
            border-radius:50%; 
            height:30px; 
            font-size: 25px;
        }
        .box{
            width: 100%;
            height:100px;
            background: rgba(0, 0, 255,0.5);
            border-radius: 2%;
        }
        .pill{
            background: green;
            width:100%;
            height: 40px;
            line-height: 40px;
            border-radius: 25px;
            color:white;
            padding-left: 30%;
        }
        .photo{
            border-radius: 50%;
            height:90px;
            width:90px;
            border: 7px solid white; 
            position: relative; 
            top:-20px
        }
        .pic{
            border-radius: 50%;
            height:70px;
            width:70px;
            /* border: 7px solid white;  */
            /* position: relative; 
            top:-20px */
        }
        .online{
            border-radius: 50%;
            height:70px;
            width: 70px;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 0 auto;
        }
        .dot{
            background: rgb(11, 247, 11);
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: relative;
            top: -17px;
            left: 30px;
        }
    </style>
{% endblock %}
{% block mycode %}
{% load staticfiles %}

        <div class="row">
            <div class="col-md-12">
                <br/><br/><br/><br/>
            </div>
        </div>
        <div class="row ml-5">
            <div class="col-md-3" style="position: sticky;">
                <div class="row box">
                    <div class="col-md-5">
                            {% if profile.profile_pic %}
                            <img src="/media/{{profile.profile_pic}}" class="photo">
                            
                            {% else %}
                            <img src="/media/no_image.png" alt="" class="photo">
                            {% endif %}
                        <!-- <img src="/media/{{profile.profile_pic}}" alt="" class="photo"> -->
                    </div>
                    <div class="col-md-7">
                            <h5><a href="" class="text-white" >{{user.first_name}} {{user.last_name}}</a></h5>
                        <a href="" class="text-white" ><i class="ion ion-android-person-add"></i> {{fff}} followers</a>
                    </div>
                </div>
                <div><br/> <br/> <br/></div>
                <div class="row">
                    <div class="col-md-12 sticky-top" >
                        <img src="{% static 'images/newsfeed.png' %}" alt="" style="height:20px;">&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'project:time' %}" style="color:grey">Timeline</a> <hr/>
                        <img src="{% static 'images/nearby.png' %}" alt="" style="height:16px;">&nbsp;&nbsp;
                        <a href="{% url 'project:friends' %}" style="color:grey">Friends</a> <hr/>
                        <img src="{% static 'images/messages.jpg' %}" alt="" style="height:18px;">
                        <a href="{% url 'project:messages' %}" style="color:grey">Messages</a> <hr/>
                        <img src="{% static 'images/settings.png' %}" alt="" style="height:18px;">
                        <a href="{% url 'project:basic' %}" style="color:grey">Settings</a> <hr/>
                        <img src="{% static 'images/Signout.png' %}" alt="" style="height:18px;">
                        <a href="{% url 'project:logout' %}" style="color:grey">Logout</a> <hr/>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <ul class="list-group">
                {% for i in messages %}
                <a href="{% url 'project:user_inbox'%}?id={{i.user.user.id}}" onclick="change_status('{{i.user.user.id}}','{{user.id}}')">
                <li class="m-{{i.user.user.id}} list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-md-2">
                            {% if i.user.profile_pic %}
                            <img src="/media/{{i.user.profile_pic}}" class="pic">
                            
                            {% else %}
                            <img src="/media/no_image.png" alt="" class="pic">
                            {% endif %}
                        <!-- <img src="/media/{{i.user.profile_pic}}" alt="" class="pic"> -->
                    </div>
                    <div class="col-md-8">
                        <h6 class="text-primary ml-0">{{i.user.user.first_name}} {{i.user.user.last_name}}</h6>
                        <p class="text-muted" style="position:relative; top:20px;">{{i.last}}</p>
                    </div>
                    <div class="col-md-2">
                        <span class="badge badge-success badge-pill l-{{i.user.user.id}}">{{i.unread}}</span>
                        <p class="text-muted">{{i.ctime}}</p>
                    </div>
                </div> 
                </li>    
            </a>
            <script>
             function mszbackground(id,size){
                if(size==0){
                    $('.m-'+id).css('background','white');
                    $('.l-'+id).css('display','none');
                }else{
                    $('.m-'+id).css('background','#ced6e2');
                }
            }
            mszbackground('{{i.user.user.id}}','{{i.unread}}')
            
            </script>
                {% endfor %}
            </ul> 
            </div>
            <div class="col-md-2">
                <h6 class="pill mt-2">Chat Online</h6>
                <hr class="mt-4" />
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <img src="{% static 'images/girl.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/girl1.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/boy1.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/girl2.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/girl4.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                        <img src="{% static 'images/boy2.jpg' %}" alt="" class="online"><div class="dot m-0"></div>
                    </div>
                </div>
            </div>
        </div>
        <script>
           
        function change_status(rc,sn){
            $.ajax({
                url:'{% url "project:mark_as_read"%}',
                type:'get',
                data:{rcvr:rc,sndr:sn},
                success:function(data){
                    alert(data)
                }
            })
        }
        </script>
        {% endblock %}
    </div>