{% extends 'base.html' %}
{% block mystyle %}
<style>
    .box{
    width: 100%;
    height:100px;
    background: rgba(0, 0, 255,0.5);
    border-radius: 2%;
    }
    .pill{
        background: green;
        width:100%;
        height: 40px;
        line-height: 40px;
        border-radius: 25px;
        color:white;
        padding-left: 30%;
    }
    .photo{
        border-radius: 50%;
        height:90px;
        width:90px;
        border: 7px solid white; 
        position: relative; 
        top:-20px
    }
    .pic{
        border-radius: 50%;
        height:70px;
        width:70px;
        /* border: 7px solid white;  */
        /* position: relative; 
        top:-20px */
    }
    .profile{
        border-radius:50%;
        height:50px;
        width:50px;
    }
    .online{
        border-radius: 50%;
        height:70px;
        width: 70px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0 auto;
    }
    .dot{
        background: rgb(11, 247, 11);
        height: 10px;
        width: 10px;
        border-radius: 50%;
        position: relative;
        top: -17px;
        left: 30px;
    }
</style>
{% endblock %}
{% block mycode %}
{% load staticfiles %}
<div class="row">
    <div class="col-md-12">
        <br/><br/><br/><br/>
    </div>
</div>
<div class="row ml-5">
    <div class="col-md-3" style="position: sticky;">
        <div class="row box">
            <div class="col-md-5">
                    {% if profile.profile_pic %}
                    <img src="/media/{{profile.profile_pic}}" class="photo">
                    
                    {% else %}
                    <img src="/media/no_image.png" alt="" class="photo">
                    {% endif %}
                <!-- <img src="/media/{{profile.profile_pic}}" alt="" class="photo"> -->
            </div>
            <div class="col-md-7">
                    <h5><a href="" class="text-white" >{{user.first_name}} {{user.last_name}}</a></h5>
                <a href="" class="text-white" ><i class="ion ion-android-person-add"></i> {{fff}} followers</a>
            </div>
        </div>
        <div><br/> <br/> <br/></div>
        <div class="row">
            <div class="col-md-12 sticky-top" >
                <img src="{% static 'images/newsfeed.png' %}" alt="" style="height:20px;">&nbsp;&nbsp;&nbsp;
                <a href="{% url 'project:time' %}" style="color:grey">Timeline</a> <hr/>
                <img src="{% static 'images/nearby.png' %}" alt="" style="height:16px;">&nbsp;&nbsp;
                <a href="{% url 'project:friends' %}" style="color:grey">Friends</a> <hr/>
                <img src="{% static 'images/messages.jpg' %}" alt="" style="height:18px;">
                <a href="{% url 'project:messages' %}" style="color:grey">Messages</a> <hr/>
                <img src="{% static 'images/settings.png' %}" alt="" style="height:18px;">
                <a href="{% url 'project:basic' %}" style="color:grey">Settings</a> <hr/>
                <img src="{% static 'images/Signout.png' %}" alt="" style="height:18px;">
                <a href="{% url 'project:logout' %}" style="color:grey">Logout</a> <hr/>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row " style="background:whitesmoke;">
            <div class="col-md-12">
                <h3>Total {{totaln}} Notifications</h3>

                {% for i in all %}
                <div class="row">
                    <div class="col-md-1">
                            {% if i.frm.profile_pic %}
                            <img src="/media/{{i.frm.profile_pic}}" alt="{{i.user.profile_pic}}" class="profile">
                            
                            {% else %}
                            <img src="/media/no_image.png" alt="{{i.user.profile_pic}}" class="profile">
                            {% endif %}
                        <!-- <img src='/media/{{i.frm.profile_pic}}' alt="{{i.user.profile_pic}}" class="profile"> -->
                    </div>
                    <div class="col-md-7">
                        <p class="text-mute">{{i.content}}</p>
                    </div>
                    <div class="col-md-4">
                        <p class="text-muted">{{i.add}}</p>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>                
        </div>               
    </div>
    <div class="col-md-2">
        <h6 class="pill mt-2">Chat Online</h6>
        <hr class="mt-4" />
        <div class="row">
            <div class="col-md-6 mx-auto">
                    {% for i in onlines %}
                    <a href="{% url 'project:user_inbox'%}?id={{i.user.id}}">
                        {% if i.profile_pic %}
                        <img src="/media/{{i.profile_pic}}" alt="" class="online">
                        {% else %}
                        <img src="/media/no_image.png" alt="" class="online">
                        {% endif %}
                        <div class="dot m-0"></div>
                    </a>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}